* text=auto
*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.svg text eol=lf
*.txt text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
*.bat text eol=crlf
*.png binary
*.gif binary
